bin/
.DS_Store
*.*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# eclipse stuff that isn't shared 
# due to the difficulty of sharing c++ projects
.project
.cproject
.settings

/repast_hpc/
/relogo/

Release
Debug
Profiling

# Built components of the tutorial
docs/OnlineTutorial/SRC/work/*

